@import 'tailwindcss';

@theme {
  --color-background: light-dark(#954bf780, var(--color-indigo-950));
  --color-card-background: light-dark(#e9e3eacc, black);
  --color-scrollbar: light-dark(var(--colors-indigo-200), var(--color-indigo-950));

  --font-mono: 'JetBrains Mono', 'monospace';
}

@property --pos {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: false;
}

@keyframes gradient {
  to {
    --pos: 100%;
  }
}

:root {
  color-scheme: light dark;
}

body {
  grid-template: 6rem 1fr / max-content 1fr max-content;

  /* prettier-ignore */
  background-image:
    radial-gradient(at 0%                      100%                   , light-dark(#ec6bfa, #913a08) 0px, transparent 50%),
    radial-gradient(at calc(var(--pos) + 40%)  calc(100% - var(--pos)), light-dark(#7816f8, #08756c) 0px, transparent 50%),
    radial-gradient(at calc(100% - var(--pos)) calc(var(--pos) / 2)   , light-dark(#d25ffc, #124cb8) 0px, transparent 50%),
    radial-gradient(at var(--pos)              var(--pos)             , light-dark(#52abff, #5a05ba) 0px, transparent 50%);

  animation: gradient 30s linear infinite alternate;
}
